body{
    margin:0;
	padding:0;
	background-color: #FEFAF0;
	
}
*{
	font-family: "Inter";
}
.Projects{

	text-align: center;
	padding-top: 25vh;
	margin-top: -50px;
	padding-bottom: 33vh;
	font-size: 1rem;
	border-top: 5px solid #E1C16E;
	background-color: #FEFAF0;
	backface-visibility: hidden;
	transform: translateZ(10px) ;
}
.Wrapper{
	height:100vh;
	overflow-y: auto;
	perspective: 20px;
	overflow-x: hidden;
}
.Spacer{
	color:black;
	height: 100px;
	transform: translateZ(10px) ;
}
@media (max-width:820px){
    .Projects{
		margin-top: 250px;
	}
}